<!DOCTYPE html>
<html>
<head>
<!--=include ../tpl/_commonhead.html -->
  <title>壹财税</title>
  <meta name="keywords" content="..." />
  <meta name="description" content="..." />
  <link href="/public/css/quan.css" rel="stylesheet" type="text/css">
</head>
<body>

<header id="globalTopBar">
	<top-bar v-cloak>{{title}}</top-bar>
</header>

<div class="main" id="quan" v-cloak>
	<section v-if="tab.efficient" class="quan-efficient">
		<div :class="{'exchange-box': true, 'has-coupon': hasActivedCoupon}">
			<p class="exchange-line"><button @click="showExchange" class="btn btn-orange"><i class="fa fa-fw fa-ticket"></i>兑换卡券</button></p>
			<p class="exchange-intro"><a href="#">关于优惠券？</a></p>
		</div>
		<p v-if="!hasActivedCoupon" class="no-result">暂无可用卡券</p>
		<ul class="quan-list" v-if="hasActivedCoupon">
			<li v-for="coupon in coupons.exchange">
				<div class="quan-content">
					<div class="quan-type">
						<b>{{coupon.couponType}}</b>
						<span><i v-if="coupon.couponType === '直减' || coupon.couponType === '一口价'">￥</i><em>{{coupon.key}}</em><i v-if="coupon.couponType === '折扣'">折</i></span>
					</div>
					<div class="quan-info">
						<h2>ICP经营许可证特惠(缺省字段)</h2>
						<p>·{{coupon.tips}}</p>
						<p>·2015-06-08至2016-08-08(缺省字段)</p>
					</div>
				</div>
				<p v-if="coupon.type === '20'" class="quan-shop">
					<a href="#"><span>限定店铺优惠券</span><span>查看相关店铺<i class="fa fa-fw fa-angle-right"></i></span></a>
				</p>
			</li>
			<li v-for="coupon in coupons.area">
				<div class="quan-content">
					<div class="quan-type">
						<b>{{coupon.couponType}}</b>
						<span><i v-if="coupon.couponType === '直减' || coupon.couponType === '一口价'">￥</i><em>{{coupon.key}}</em><i v-if="coupon.couponType === '折扣'">折</i></span>
					</div>
					<div class="quan-info">
						<h2>ICP经营许可证特惠(缺省字段)</h2>
						<p>·{{coupon.tips}}</p>
						<p>·2015-06-08至2016-08-08(缺省字段)</p>
					</div>
				</div>
			</li>
			<li v-for="coupon in coupons.servicer">
				<div class="quan-content">
					<div class="quan-type">
						<b>{{coupon.couponType}}</b>
						<span><i v-if="coupon.couponType === '直减' || coupon.couponType === '一口价'">￥</i><em>{{coupon.key}}</em><i v-if="coupon.couponType === '折扣'">折</i></span>
					</div>
					<div class="quan-info">
						<h2>ICP经营许可证特惠(缺省字段)</h2>
						<p>·{{coupon.tips}}</p>
						<p>·2015-06-08至2016-08-08(缺省字段)</p>
					</div>
				</div>
				<p class="quan-shop">
					<a href="#"><span>限定店铺优惠券</span><span>查看相关店铺<i class="fa fa-fw fa-angle-right"></i></span></a>
				</p>
			</li>
		</ul>
		<p v-if="hasDisabledCoupon" :class="{'history-line': true, 'has-coupon': hasActivedCoupon}"><a href="/app/quan.html?tab=efficient#disabled">查看使用历史</a></p>
	</section>
	<section v-if="tab.disabled" class="quan-disabled">
		<ul class="quan-list">
			<li v-for="coupon in coupons.used">
				<div class="quan-content">
					<div class="quan-type">
						<b>{{coupon.couponType}}</b>
						<span><i v-if="coupon.couponType === '直减' || coupon.couponType === '一口价'">￥</i><em>{{coupon.key}}</em><i v-if="coupon.couponType === '折扣'">折</i></span>
					</div>
					<div class="quan-info">
						<h2>ICP经营许可证特惠(缺省字段)</h2>
						<p>·{{coupon.tips}}</p>
						<p>·2015-06-08至2016-08-08(缺省字段)</p>
					</div>
				</div>
				<p class="quan-status">已使用</p>
			</li>
			<li v-for="coupon in coupons.invali">
				<div class="quan-content">
					<div class="quan-type">
						<b>{{coupon.couponType}}</b>
						<span><i v-if="coupon.couponType === '直减' || coupon.couponType === '一口价'">￥</i><em>{{coupon.key}}</em><i v-if="coupon.couponType === '折扣'">折</i></span>
					</div>
					<div class="quan-info">
						<h2>ICP经营许可证特惠(缺省字段)</h2>
						<p>·{{coupon.tips}}</p>
						<p>·2015-06-08至2016-08-08(缺省字段)</p>
					</div>
				</div>
				<p class="quan-status">{{(coupon.status === 2 || coupon.status === 3)  && "已过期" || coupon.status === 1 && coupon.couponstatus === 0 && "活动暂停" || coupon.status > 40 &&  "已失效"}}</p>
			</li>
		</ul>
	</section>
	<o-hint v-bind:show.sync="hintShow" v-bind:hint-text="hint"></o-hint>
	<back-to-top></back-to-top>
	<exchange-box :show.sync="exchange.show"></exchange-box>
</div>
<footer class="footer" id="footer">
	<foot :data-refresh="refreshFlag"></foot>
</footer>
<!--=include ../tpl/_commonjs.html -->
<script src="/public/js/quan.js" type="text/javascript"></script>
</body>
</html>