<!DOCTYPE html>
<html>
<head>
<!--=include ../tpl/_commonhead.html -->
  <title>壹财税</title>
  <meta name="keywords" content="..." />
  <meta name="description" content="..." />
  <link href="/public/css/user.css" rel="stylesheet" type="text/css">
</head>
<body>

<header id="globalTopBar">
	<top-bar v-cloak>我的壹财税</top-bar>
</header>

<div class="main" id="user" v-cloak>
	<ul class="tab">
		<li :class="{'active': tab.orderlist}"><a href="#orderlist">订单</a></li>
		<li :class="{'active': tab.quan}"><a href="#quan">优惠</a></li>
		<li :class="{'active': tab.info}"><a href="#info">账号设置</a></li>
	</ul>
	<section v-if="tab.orderlist" class="orderlist-box">
		<ul>
			<li>
				<div>
					<p class="ol-company">
						<a @click.prevent="linkto" href="javascript:void(0);">潮道财税<i @click.stop="dail" class="fa fa-fw fa-phone"></i><i class="fa fa-angle-right"></i></a>
					</p>
					<p class="ol-info">
						<a href="/app/order.html">
							<b>大众创业优选A餐</b><br/>
							<span>￥1288 | 有一笔待付款￥888</span>
							<i class="fa fa-angle-right"></i>
						</a>
					</p>
					<p class="ol-status">
						<em>进行中</em>
						<a class="btn btn-orange" href="#">付款</a>
					</p>
				</div>
			</li>

			<li>
				<div>
					<p class="ol-company">
						<a @click.prevent="linkto" href="javascript:void(0);">潮道财税<i @click.stop="dail" class="fa fa-fw fa-phone"></i><i class="fa fa-angle-right"></i></a>
					</p>
					<p class="ol-info">
						<a href="/app/order.html">
							<b>大众创业优选A餐</b><br/>
							<span>￥1288 | 有一笔待付款￥888</span>
							<i class="fa fa-angle-right"></i>
						</a>
					</p>
					<p class="ol-status">
						<em>已完成</em>
					</p>
				</div>
			</li>
			<li>
				<div>
					<p class="ol-company">
						<a @click.prevent="linkto" href="javascript:void(0);">潮道财税<i @click.stop="dail" class="fa fa-fw fa-phone"></i><i class="fa fa-angle-right"></i></a>
					</p>
					<p class="ol-info">
						<a href="/app/order.html">
							<b>大众创业优选A餐</b><br/>
							<span>￥1288 | 有一笔待付款￥888</span>
							<i class="fa fa-angle-right"></i>
						</a>
					</p>
					<p class="ol-status">
						<em>已完成</em>
					</p>
				</div>
			</li>
			<li>
				<div>
					<p class="ol-company">
						<a @click.prevent="linkto" href="javascript:void(0);">潮道财税<i @click.stop="dail" class="fa fa-fw fa-phone"></i><i class="fa fa-angle-right"></i></a>
					</p>
					<p class="ol-info">
						<a href="/app/order.html">
							<b>大众创业优选A餐</b><br/>
							<span>￥1288 | 有一笔待付款￥888</span>
							<i class="fa fa-angle-right"></i>
						</a>
					</p>
					<p class="ol-status">
						<em>已完成</em>
					</p>
				</div>
			</li>
		</ul>
	</section>
	<section v-if="tab.quan" class="quan-box">
		<ul>
			<li><a href="/app/quan.html?tab=efficient"><i class="fa fa-ticket"></i>我的卡券<i class="fa fa-angle-right"></i>
</a></li>
			<li><a href="/app/quan.html?tab=disabled"><i class="fa fa-history"></i>卡券使用历史<i class="fa fa-angle-right"></i>
</a></li>
		</ul>
	</section>
	<section v-if="tab.info" class="info-box">
		<ul>
			<li><a href="{{userInfo.updateflag === '0' ? '/app/info.html?tab=username' : 'javascript:void(0)'}}">用户名<span>{{userInfo.username}}</span><i v-if="userInfo.updateflag === '0'" class="fa fa-angle-right"></i></a></li>
			<li><a href="/app/info.html?tab=contactor">联系人信息<span></span><i class="fa fa-angle-right"></i></a></li>
		</ul>
		<h2>账号绑定</h2>
		<ul>
			<li><a href="/app/info.html?tab=mobile">绑定手机<span>{{userInfo.mobile}}</span><i class="fa fa-angle-right"></i></a></li>
		</ul>
		<h2>安全设置</h2>
		<ul>
			<li><a href="{{userInfo.modifyflag === '0' ? '/app/info.html?tab=setPassword' : '/app/info.html?tab=modifyPassword'}}">登录密码<span>{{userInfo.modifyflag === '0' ? '未设置' : '修改或找回密码'}}</span><i class="fa fa-angle-right"></i></a></li>
		</ul>
		<p><button type="button" class="btn btn-orange" @click="logout">退出登录</button></p>
	</section>
	<modal :title="'您还没有登录，请先登录或者快速注册一个新账号'" :show.sync="modals.login" effect="fade" v-cloak>
		<div slot="modal-body"></div>
		<div slot="modal-footer" class="modal-footer">
			<a href="/app/login.html">现在登录</a>
			<a href="/app/register.html">快速注册</a>
		</div>
		<div slot="modal-extend" class="modal-extend">
			<button @click="hideLoginModal">取消</button>
		</div>
	</modal>
	<o-hint v-bind:show.sync="hintShow" v-bind:hint-text="hint"></o-hint>
</div>
<footer class="footer" id="footer">
	<foot :data-refresh="refreshFlag"></foot>
</footer>
<!--=include ../tpl/_commonjs.html -->
<script src="/public/js/user.js" type="text/javascript"></script>
</body>
</html>