html{
	font-size:16px;
}
h2,h3,ul,p,figure,dl,dd,dt{
	margin:0;
	padding:0;
}

li{
	list-style:none;
}

i,em{
	font-style:normal;
}
@mixin table-layout($position:top){
	display:table-cell;
	vertical-align:$position;
}

@mixin padding-space{
	padding-left:20px;
	padding-right:20px;
}

@mixin box-style($position:center){
	display:-webkit-box;
	display:-moz-box;
	-webkit-box-align:$position;
	-moz-box-align:$position;
}
@mixin border-radius-icon($color,$borderColor,$bg,$width:auto,$ph:5px,$pw:15px,$fontsize:1em){
	box-sizing:border-box;
	color:$color;
	border:2px solid $borderColor;
	background-color:$bg;
	padding:$ph $pw;
	font-size:$fontsize;
	border-radius:3px;
	width:$width;
}
@mixin box-position($position:center){
	-webkit-box-align:$position;
	-moz-box-align:$position;
}
@mixin box-flex($flex : 1){
	box-flex:$flex;
	-webkit-box-flex:$flex;
	-moz-box-flex:$flex;
}

#cartlist{

	/*nav here start*/
	.step {
		width: 100%;
		@include clearfix;
		li{
			float: left;
			width: 25%;
			font-size: .875em;
			position: relative;
			text-align: center;
			height: 40px;
			line-height: 40px;
			text-indent: 1em;
			background-color: $bgLightGray;
			color: $textLightGray;
			&:nth-child(1){
				z-index: 4;
			}
			&:nth-child(2){
				z-index: 3;
			}
			&:nth-child(3){
				z-index: 2;
			}
			&:nth-child(4){
				z-index: 1;
				&:after {
					content: none;
				}
			}
			&:after{
				content: " ";
				position: absolute;
				width: 16px;
				height: 40px;
				display: block;
				top: 0;
				right: -16px;
				background-image: url('../img/step-angle.png');
				background-size: 16px 80px;
				background-position: 0 0;
			}
			&.active{
				color: #fff;
				background-color: #0eb58c;
				&:after{
					background-position: 0 -40px;
				}
			}
		}
	}
	.arrow-direction{
		margin-left:5px;
		color:$textLightGray;
		font-size:1.5rem;
		vertical-align:middle;
		}

	.list{

		ul{
			border-top:1px solid $line;
			background-color:white(1);
		}

		li{
			@include padding-space;
			padding-top:1rem;
			padding-bottom:0.8125rem;
			border-bottom:1px solid $line;

		}
		.coupon{
			color:$viBlue;
			font-size:0.875rem;
		}

		.amount{
			color:$viOrange;
		}
		.mask{
			margin:.8125rem 0;
			border:1px solid $line;
			@include padding-space;
			padding-top:1rem;
			padding-bottom:0.8125rem;
			background-color:white(1);
		}
		.mask-tip{
			color:$textDarkGray;
			font-size:.875rem;

			em{
				display:inline-block;
				line-height:24px;

			}
		}
	}

	.log-form{
		padding-bottom:5.5rem;

		dl{
			border-top:1px solid $line;
			background-color:white(1);

		}

		dt,dd{
			@include padding-space;
			border-bottom:1px solid $line;
		}
		dt{
			padding-top:.4375rem;
			padding-bottom:.375rem;
			background-color:$viBlueLightest;
			color:$viBlue;
			font-size:.875rem;
		}
		dd{
			padding-top:.625rem;
			padding-bottom:.5625rem;

			&:last-of-type{
				color:$textDarkGray;

				a{
					text-decoration:underline;
				}
			}
		}

		input{
			padding:.5rem 0;
			border:none;
			&::-webkit-input-placeholder{
				color:$textDarkGray !important;
			}

			&:-webkit-autofill{
				-webkit-box-shadow: 0 0 0px 1000px white inset; 
			}
		}
		[name="mobile"],[name="code"]{
			text-indent:5px;
		}

		[name="mobile"]{
			width:55%;

		}
		[type="button"]{
			padding:.5rem 1rem;
			min-width : 1rem;

			&[disabled]{
				opacity : 1;
				background-color:$bgLightGray;
				color:$textDarkGray;
				border-color:$textDarkGray;
			}
		}

		.btn-green{
			background-color:$viGreen;
			color:white(1);
		}
		[name="code"]{
			width:100%;

			
		}
	}

	.logout{

		dd{
			&:nth-of-type(1){
				color:$textDarkGray;

				span{
					color:$viBlue;
					font-size:.875rem;
				}
			}

			&:nth-of-type(2){
				a{
					text-decoration:none;
				}
			}
		}
	}

	.phone-tips{
		h2{
			padding:2rem 0 1.875rem; 
			border-bottom:1px solid $line;
			text-align:center;
			font-size:1rem;
		}
		span{
			box-sizing:border-box;
			color:$viBlue;
			font-size:1.125rem;
		}
	}

	.radio-check{
		margin : 0 -1rem;
		dd{
			
			@include box-style(center);
			padding:1rem 1rem 0.75rem;
			border-bottom:1px solid $line;
			.des{
				@include box-flex(8);
			}
			&.active{
				.des{
					p{
						color:$viBlue;

						&:last-of-type{
							color:$viBlue;
						}
					}
				}
				>span{
					color:$viBlue;
				}
			}

			.des {
				p:last-of-type{
					color:$textDarkGray;
					font-size:.875rem;
				}
			}

			>span{
				padding-right:3%;
				color:$textLightGray;
				font-size:1.5rem;
			}
		}
		>p{
			
			margin:0.5625rem 1rem;
			color:$textDarkGray;
			// line-height:41px;

			>i{
				float:right;
			}
			>span{
				display:inline-block;
				line-height:2.5625rem;
			}
		}
	}

	.fixed-bar{
		position:fixed;
		left:0;
		bottom:0;
		background-color:rgba(29,29,29,.85);
		width:100%;

		.next-step{
			padding:1rem;
			@include box-style(center);
		}

		.amount{
			@include box-flex(8);

			p{
				&:first-of-type{

					font-size:1.25rem;
					color:white(1);
				}
				&:last-of-type{
					color:$textLightGray;
					font-size:.875rem;
				}
			}
		}
		button{
			color:$textDarkGray;
			font-size:1.125rem;

			&.btn-orange{
				color:white(1);
			}
		}
	}
}


