p,h2{
	margin: 0;
	padding: 0;
}

.quan-list{
	padding: 1em;
	li{
		position: relative;
		color: $textDarkGray;
		border: 1px solid $line;
		background-color: $bgLightGray;
		margin-bottom: 1em;
	}

	.quan-content{
		@include clearfix;
		padding: .75em 1em;
	}

	.quan-type{
		float: left;
		width: 30%;
		@include box-sizing;
		
		b{
			font-style: normal;
			font-weight: normal;
			font-size: .875em;
			display: block;
			margin-bottom: 1.5em;
		}

		span{
			display: block;
		}

		i{
			font-style: normal;
		}

		em{
			font-size: 1.5em;
			font-style: normal;
			margin: 0 .33em;
		}

	}

	.quan-info{
		border-left: 1px dashed $line;
		min-height: 6em;
		float: left;
		@include box-sizing;
		width: 70%;
		padding-left: 1em;
		p{
			font-size: .875em;
			line-height: 1.8em;
		}
		h2{
			font-size: 1em;
			margin-bottom: .75em;
		}
		i{
			font-size: .285em;
			vertical-align: middle;
			padding: 0 1em;
		}
	}

	.quan-status{
		position: absolute;
		top: 0;
		right: 0;
		color: #fff;
		padding: .2em 1.5em;
		background-color: rgba(0, 0, 0, .5);
	}

	.quan-shop{
		border-top: 1px solid $line;
		a{
			padding: .5em 1em;
			@include clearfix;
			color: $textDarkGray;
			display: block;
			
			span{
				font-size: .875em;
				&:first-child{
					float: left;
				}
				&:last-child{
					float: right;
				}
			}
		}
	}
}

.quan-efficient{
	.quan-list {
		li{
			background-color: #fff;
		}
		.quan-type{
			color: $viOrange;
		}
		.quan-info{
			h2{
				font-weight: normal;
				color: $textBlack;
			}
		}
	}
}

.exchange-box{
	background-color: #fff;
	border-bottom: 1px solid $line;
	.exchange-line{
		padding: .71em 1em;
		.btn{
			width: 100%;
		}
	}
	.exchange-intro{
		padding: 0 1em .71em;
		text-align: right;
		a{
			font-size: .875em;
			text-decoration: underline;
		}
	}
	&.has-coupon{
		background: none;
		border-bottom: none;
		.exchange-line{
			padding: 0;
			background-color: #fff;
			border-bottom: 1px solid $line;
			margin-bottom: .71em;
			.btn{
				background: none;
				border: none;
				color: $viOrange;
			}
		}
	}
}

.no-result{
	font-size: 1.25em;
	padding-top: 1.25em;
	text-align: center;
	color: $textDarkGray;
}



.quan-disabled{
	background-color: #fff;
}

.history-line{
	&.has-coupon{
		position: static;
	}
	position: fixed;
	margin-bottom: 1em;
	width: 100%;
	bottom: 4em;
	left: 0;
	text-align: center;
	text-decoration: underline;
	a{
		color: $textDarkGray;
	}
}

.exchange-code-line{
	.exchange-code{
		@include box-sizing;
		width: 100%;
		background: #fff;
		border: 1px solid $line;
		padding: .5em .5em;
		font-size: 1em;
		border-radius: 4px;
	}
	.form-error-icon{
		font-size: 1.25em;
		color: #f06d54;
		margin-left: -1.5em;
	}
}