// Transition
// --------------------------------------------------

// fade-in
.fade-in-transition {
	transition: all .3s ease;
	opacity: 1;
}

.fade-in-enter,
.fade-in-leave {
	opacity: 0;
}


// Animation
// --------------------------------------------------

